:root{
    --color1: #b23a3f;
    --color4: #357696;
    --color5: #2f404d;
}
#sponsors img, #organization img {
    max-height: 55px;
}
ul {
    list-style: disc;
    margin-left: 1em;
}
li {
    margin-top: 0.5em;
}