:root{
    --color1: #b23a3f;
    --color4: #357696;
    --color5: #2f404d;
}
#sponsors img, #organization img {
    max-height: 60px;
}
ul {
    list-style: disc;
    margin-left: 1em;
}
li {
    margin-top: 0.5em;
}
.horas {
    width: 115px;
}
#program tr {
    background-color: whitesmoke ;
}

@media screen and (min-width: 769px) {
    .modal-content, .modal-card {
        width: 60%;
    }
    #program table, #organizers {
        width: 60%;
        margin: 0 auto;
    }
    .aviso {
        max-width: 50%; 
        margin: 0 auto;
    }
}