<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event template - dev</title>
    <link rel="stylesheet" href="https://events.i3a.es/css/bulma/bulma.css"> 
    <link rel="stylesheet" href="https://eventos-dev.i3a.es/css/custom.css"> <!--Poner dominio correspondiente, con o sin "-dev"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>    

    <div class="container p-4">
        <div class="columns">
            <div class="column is-3">  
                <img src="https://events.i3a.es/img/Instituto_I3A_color.png" >
            </div>
            <div class="column">
                <!-- *********************** MENU *********************** -->
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">                        
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarEvent">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                
                    <div id="navbarEvent" class="navbar-menu">
                    <div class="navbar-start">   
                    </div>
                
                    <div class="navbar-end">
                        <div class="navbar-item">
                        <div class="buttons">

                          <a href="https://eventos-dev.i3a.es/index.html"> <!--Poner dominio correspondiente, con o sin "-dev"-->
                            <button class="button color5 is-outlined mr-4">
                              <span class="icon">
                                <i class="fas fa-chevron-circle-right"></i>
                              </span>
                              <span>Upcoming events</span>
                            </button>
                            </a>

                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button color5 is-outlined mr-4" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span class="icon is-small">
                                        <i class="fas fa-bars"></i>
                                    </span>
                                    <span>Menu</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                    <a href="#about-us" class="dropdown-item">
                                    About us
                                    </a>
                                    <a href="#authors-centre" class="dropdown-item">
                                        Authors centre
                                    </a>
                                    <a href="#schedule" class="dropdown-item">
                                        Schedule
                                    </a>
                                    <a href="#speakers" class="dropdown-item">
                                        Speakers
                                    </a>
                                    <a href="#registration" class="dropdown-item">
                                        Registration
                                    </a>
                                    <a href="#venue" class="dropdown-item">
                                        Venue
                                    </a>
                                    <a href="#sponsors" class="dropdown-item">
                                        Sponsors & Partners
                                    </a>
                                    <a href="#arrival" class="dropdown-item">
                                        Arrival
                                    </a>
                                    <a href="#contact" class="dropdown-item">
                                        Contact
                                    </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                    </div>
                </nav>
                <!-- *********************** FIN MENU *********************** -->    
            </div>
        </div>                        
    </div>        

    <div class="container has-text-centered background-color5 is-fluid p-6">
        <h1 class="title is-1 has-text-white">ABC 2023 - dev</h1>
        <h3 class="title is-2 mb-6 has-text-white">Título largo del evento organizado por el I3A</h2>
        <div class="block is-size-4 has-text-white">
            16-18 April 2022 | Zaragoza - Spain
        </div>
        <div>
            <a class="button background-color1 has-text-white is-large mt-6  is-responsive">
                REGISTER
            </a>
        </div>
    </div>

    <div class="container p-4">
        <!-- *********************** About *********************** -->
        <section id="about-us" class="section">
            <h3 class="title is-2 mb-6">About us</h3>
            <div class="block">
                <a>Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="block">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </section>
        
                
        <!-- *********************** Committees *********************** -->
        <section class="section">            
            <div class="tabs  is-boxed is-medium">
                <ul>
                  <li class="tab is-active" onclick="openTab(event,'organizers')">
                    <a>
                      <span class="icon is-small"><i class="fas fa-users"></i></span>
                      <span>Organizing Committee</span>
                    </a>                    
                  </li>
                  <li class="tab" onclick="openTab(event,'scientific')">
                    <a>
                      <span class="icon is-small"><i class="fas fa-users"></i></span>
                      <span>Scientific committee</span>
                    </a>
                  </li>                  
                </ul>
            </div>
            <div class="container section">
                <div id="organizers" class="content-tab" >
                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p>
                            <p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                    </div>
                </div>
                <div id="scientific" class="content-tab" style="display:none">
                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                        <div class="column is-4">
                            <p class="commitee">Name Surname Surname</p><p class="university">University of Zaragoza</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- *********************** Important dates *********************** -->
        <!-- <section class="section">
          <h2 class="title">Important dates</h2>
          <div class="block">
            <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission<br>
            <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission<br>
            <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission
          </div>
      </section> -->

    </div>

    <!-- *********************** Authors center *********************** -->
    <div class="container is-fluid py-4  background-color3">
      <div class="container">
        <section id="authors-centre" class="section">
          <h3 class="title is-2 mb-6  mb-6">Authors centre</h3>   
          <div class="columns is-multiline">

            <div class="column is-6">                             
              <div class="block">
                <p class="title is-5">Important dates </p>                
              </div>   
              <div class="block">
                <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission<br>
                <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission<br>
                <span class="icon mr-4"><i class="fas fa-calendar-day"></i></span>5 April 2023: Final deadline of abstract submission
              </div>
              <br>
              <div class="block">
                <p class="title is-5">Special Issues</p>                
              </div> 
              <div class="block">
                Accepted and registered papers can be recommend to publish in International Journals below.
              </div>
              <div class="block">
                <span class="icon mr-4"><i class="fas fa-check"></i></span>Journal xxxx<br>
                <span class="icon mr-4"><i class="fas fa-check"></i></span>Journal yyyyyyy 
              </div>
            </div>             

            <div class="column is-6">                             
              <div class="block">
                <p class="title is-5">Contributions </p>                
              </div>              
              <div class="block">
                Authors are kindly asked to use the Microsoft Word template provided herein to prepare their manuscripts.
              </div>
              <div class="block">
                <a href=""><span class="icon fa-2x is-large"><i class="far  fa-file-word"></i></span>Download the template</a>
              </div>
              <div class="block">
                All manuscripts must be submitted via the Conftool website both as a pdf file and as an editable Word file. The length of each paper is limited to a maximum of 10 pages.
              </div>                
              <div class="block has-text-centered">
                <a class="button is-medium is-responsive background-color5 has-text-white ">
                  SEND YOUR CONTRIBUTION
                </a>
              </div>               
            </div>            

          </div>         
        </section>
      </div>
    </div>

    <div class="container p-4">   
        <!-- *********************** Schedule *********************** -->
        <section id="schedule" class="section">
            <h3 class="title is-2 mb-6">Schedule</h3>
            <div class="block">
              <a href=""><span class="icon is-large"><i class="far fa-2x fa-file-pdf"></i></span>Download the program of the event</a>
            </div>              
            <div class="columns is-multiline">
              <div class="column is-3">
                <figure class="image ">
                  <img src="https://events.i3a.es/img/program.png" alt="program">
                </figure>            
              </div>
              <div class="column">
                <figure class="image ">
                  <img src="https://events.i3a.es/img/programa-excel.jpg" alt="program">
                </figure>            
              </div>             
            </div>                      
        </section>
        
        <!-- *********************** Speakers *********************** -->
        <section id="speakers" class="section">
            <h3 class="title is-2 mb-6">Speakers</h3>
            <div class="columns is-multiline">

                <!-- *********************** INICIO Speaker *********************** -->
                <div class="column is-one-quarter">          
                  <div class="card">                    
                    <div class="card-image">
                      <figure class="image is-square">
                        <img src="https://events.i3a.es/img/user.png" alt="Speaker image">                        
                      </figure>
                    </div>
                    <div class="card-content">                     
                      <div class="content">
                        <p class="is-size-3 text-color4 mb-0">Name Surname</p>
                        <p class="is-size-6 text-color4">University of Zaragoza</p>
                        <div class="has-text-centered">
                            <button class="button js-modal-trigger" data-target="modal-js-biography-1">
                                Biography
                            </button>  
                        </div>                                              
                      </div>
                    </div>
                  </div>                    
                </div>
                <!-- *********************** FIN Speaker *********************** -->
                <!-- *********************** INICIO Speaker *********************** -->
                <div class="column is-one-quarter">          
                    <div class="card">                    
                      <div class="card-image">
                        <figure class="image is-rounded">
                          <img src="https://events.i3a.es/img/user.png" alt="Speaker image">                        
                        </figure>
                      </div>
                      <div class="card-content">                     
                        <div class="content">
                          <p class="is-size-3 text-color4 mb-0">Name Surname</p>
                          <p class="is-size-6 text-color4">University of Zaragoza</p>
                          <div class="has-text-centered">
                              <button class="button js-modal-trigger" data-target="modal-js-biography-2">
                                  Biography
                              </button>  
                          </div>                                              
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <!-- *********************** FIN Speaker *********************** -->        
              </div>             
        </section>    

    </div>

    <!-- *********************** Registration *********************** -->
    <div class="container is-fluid p-0 m-0 background-color5">
      <div class="container">
        <section id="registration" class="section has-text-white">
            <h3 class="title is-2 mb-6 has-text-white has-text-centered	">Registration</h3>
            <div class="columns is-multiline">

                <div class="column is-one-third">          
                    <div class="card">   
                      <div class="card-content">                     
                        <div class="content">
                          <p class="is-size-3 text-color4 has-text-centered mb-1">STUDENT</p>
                          <p class="is-size-1 has-text-centered has-text-weight-bold">50 €</p>
                          <ul>
                            <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                            <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                            <li>Ut non enim metus.</li>
                          </ul>
                          <div class="has-text-centered mt-6">
                              <button class="button background-color1 has-text-white is-medium" >
                                  REGISTER
                              </button>  
                          </div>                                              
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <div class="column is-one-third">          
                    <div class="card">   
                      <div class="card-content">                     
                        <div class="content">
                          <p class="is-size-3 text-color4 has-text-centered mb-1">STANDARD</p>
                          <p class="is-size-1 has-text-centered has-text-weight-bold">150 €</p>
                          <ul>
                            <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                            <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                            <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
                            <li>Ut non enim metus.</li>
                          </ul>
                          <div class="has-text-centered mt-6">
                              <button class="button background-color1 has-text-white is-medium" >
                                REGISTER
                              </button>  
                          </div>                                              
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <div class="column is-one-third">          
                    <div class="card">   
                      <div class="card-content">                     
                        <div class="content">
                          <p class="is-size-3 text-color4 has-text-centered mb-1">ADDITIONAL ABSTRACT</p>
                          <p class="is-size-1 has-text-centered has-text-weight-bold">50 €</p>
                          <ul>
                            <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                            <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                          </ul>
                          <div class="has-text-centered mt-6">
                              <button class="button background-color1 has-text-white is-medium" >
                                REGISTER
                              </button>  
                          </div>                                              
                        </div>
                      </div>
                    </div>                    
                  </div>
            </div> 
        
        </section>
      </div>
    </div>    
     
    <div class="container p-4">
        <!-- *********************** Venue *********************** -->
        <section id="venue" class="section">
            <h3 class="title is-2 mb-6">Venue</h3>    
            <div class="columns">
              
                <!-- *********************** INICIO hotel *********************** -->
                <div class="column is-3">          
                  <div class="card">                    
                    <div class="card-image">
                      <figure class="image is-rounded">
                        <img src="https://events.i3a.es/img/hotel.png" alt="Speaker image">                        
                      </figure>
                    </div>
                    <div class="card-content">                     
                      <div class="content">
                        <p class="is-size-3 text-color4 ">Hotel Name ****</p>
                        <p>Double for single use: 84€<br>
                        Double: 99€</p>
                        <div class="has-text-right">
                          <a href="" class="button is-responsive">INFO</a> 
                        </div>                                                                     
                      </div>
                    </div>
                  </div>                    
                </div>
                <!-- *********************** FIN hotel *********************** -->  
                <!-- *********************** INICIO hotel *********************** -->
                <div class="column is-3">          
                  <div class="card">                    
                    <div class="card-image">
                      <figure class="image is-rounded">
                        <img src="https://events.i3a.es/img/hotel.png" alt="Speaker image">                        
                      </figure>
                    </div>
                    <div class="card-content">                     
                      <div class="content">
                        <p class="is-size-3 text-color4 ">Hotel Name ***</p>
                        <p>Double for single use: 84€<br>
                        Double: 99€</p>
                        <div class="has-text-right">
                          <a href="" class="button is-responsive">INFO</a> 
                        </div>                                              
                      </div>
                    </div>
                  </div>                    
                </div>
                <!-- *********************** FIN hotel *********************** -->
                <!-- *********************** INICIO hotel *********************** -->
                <div class="column is-3">          
                  <div class="card">                    
                    <div class="card-image">
                      <figure class="image is-rounded">
                        <img src="https://events.i3a.es/img/hotel.png" alt="Speaker image">                        
                      </figure>
                    </div>
                    <div class="card-content">                     
                      <div class="content">
                        <p class="is-size-3 text-color4 ">Hotel Name ***</p>
                        <p>Double for single use: 84€<br>
                        Double: 99€</p>
                        <div class="has-text-right">
                          <a href="" class="button is-responsive">INFO</a> 
                        </div>                                              
                      </div>
                    </div>
                  </div>                    
                </div>
                <!-- *********************** FIN hotel *********************** -->            
            </div>   
            <div class="block">To formalize the accommodation reservation you must send this request duly completed via email to doe@avoristravel.com indicating in the subject the name of the congress and the participant. Once we receive the request email, we will confirm it via the reservation and the payment deadline.</div>
            <a href=""><span class="icon is-large"><i class="far fa-2x fa-file-pdf"></i></span>Download accommodation reservation request</a>
            
        </section>  
    </div>

    <!-- *********************** Arrival *********************** -->
    <div class="container is-fluid py-4  background-color3">
      <div class="container">
        <section id="arrival" class="section">
            <h3 class="title is-2 mb-6 mb-6">Arrival</h3>
            <div class="columns is-multiline">
              
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-train"></i></span>By train</h4>
                <div class="block">Zaragoza has a high-speed connection to Madrid and Barcelona (80-90 minutes). You can check the available connections and buy your train tickets on the <a href="https://venta.renfe.com/vol/homeCustomers.do?c=_nrjl" target="_blank">RENFE</a>&nbsp;website.</div>               
              </div>
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-bus"></i></span>By bus</h4>
                <div class="block">Zaragoza has an excellent connection with the rest of Spain by bus. You can check the available connections and buy your bus tickets on the&nbsp;<a href="https://www.estacion-zaragoza.es/" target="_blank">Zaragoza Central Bus Station</a> website.</div>            
              </div>
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-plane"></i></span>By plane</h4>
                <div class="block"><a href="http://www.zaragoza-airport.com/es/index.php" target="_blank">Zaragoza airport</a> has national and international connections, being 20 minutes from the Río Ebro Campus by taxi. There is a bus every 30 minutes.<strong>Taxis</strong></div>
              </div>
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-taxi"></i></span>Taxis</h4>
                <div class="block">There are taxi ranks at the airport and the train / bus stations. You can also call a taxi at these telephones: (976 42 42 42) / (75 976 75 75).</div>
              </div> 
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-car"></i></span>By car</h4>
                <div class="block">Through the Z40 in both directions passing through the North of Zaragoza, you must enter through the exit that indicates Campus Río Ebro. In both cases you will come to a roundabout and you must take the first exit to the right, continue along the street without leaving it until you see the Río Ebro Campus.</div>
                <div class="block">GPS coordinates:  Latitude 41.684815, -0.887275 Length</div>
              </div>
              <div class="column is-half">
                <h4 class="title is-4"><span class="icon mr-4"><i class="fas fa-tram"></i></span>Public transport</h4>
                <div class="block">The Río Ebro Campus / I + D Building can be reached by public transport. The best option is the tram line that connects the north with the south of Zaragoza, and reaches the Río Ebro Campus passing through the entire Center of our city. The urban bus lines also reach the Río Ebro Campus. Full schedules and itineraries can be checked at <a href="http://www.urbanosdezaragoza.es/">Urbanos de Zaragoza</a>.</div>
              </div>
                           
            </div>      
        </section>
      </div>
    </div>
    
    <div class="container p-4">
        <!-- *********************** Organisers *********************** -->
        <section id="sponsors" class="section">
          <h3 class="title is-2 mb-6">Sponsors & Partners</h3>
          <div class="columns is-multiline is-vcentered">
            <div class="column">
              <a href="https://i3a.unizar.es"><img src="https://events.i3a.es/img/Instituto_I3A_color.png" ></a>
            </div>
            <div class="column">
              <img src="https://events.i3a.es/img/logoUZ.png" >
            </div>
            <div class="column">
              <a href="https://i3a.unizar.es"><img src="https://events.i3a.es/img/Instituto_I3A_color.png" ></a>
            </div>
            <div class="column">
              <img src="https://events.i3a.es/img/logoUZ.png" >
            </div>
          </div>          
        </section>

        <!-- *********************** Contact *********************** -->
        <section id="contact" class="section">
            <h3 class="title is-2 mb-6">Contact</h3>
            <p>If you have any questions please send us an email and we will respond as soon as possible.</p><br>
            <span class="icon is-small mr-4"><i class="fas fa-at"></i></span><a href="@mail.unizar.es">mail.unizar.es</a><br>
            <span class="icon is-small mr-4"><i class="fas fa-users"></i></span>Nombre dle grupo del I3A<br>
            <span class="icon is-small mr-4"><i class="fas fa-map-marker-alt"></i></span>Campus Río Ebro, I+D+d Building, Zaragoza (Spain)</i>Campus Río Ebro, I+D+d Building, Zaragoza (Spain)
        </section>     
    </div>

    <!-- Map -->
    <div class="container is-fluid p-0 m-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11918.55762871688!2d-0.8873405!3d41.6851305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa2fd5e66dd0a6120!2sInstituto%20de%20Investigaci%C3%B3n%20en%20Ingenier%C3%ADa%20de%20Arag%C3%B3n%20(I3A)!5e0!3m2!1ses!2ses!4v1676023709567!5m2!1ses!2ses" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <!-- Footer -->
    <footer class="footer m-0 background-color5 has-text-white">
        <div class="content has-text-centered">
          <p><a href="">Privacy Policy</a>. Developed by the <a href="https://i3a.unizar.es/">I3A Institute</a></p>
        </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Go to top" class="button background-color4 has-text-white">
      <span class="icon is-medium">
        <i class="fas fa-chevron-up"></i>
      </span>
    </button>

    <!-- *********************** Modals for speakers *********************** -->
    <div id="modal-js-biography-1" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <p class="title is-3 text-color4">Name Surname</p>
            <p class="subtitle is-5 text-color4">University of Zaragoza</p>
            <div class="block">
                <a>Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="block">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
      
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-js-biography-2" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <p class="title is-3 text-color4">Name Surname</p>
            <p class="subtitle is-5 text-color4">University of Zaragoza</p>
            <div class="block">
                <a>Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="block">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
      
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- *********************** JS *********************** -->
    <script src="js/events.js"></script>

  </body>
</html>