:root{
    --color1: #287692;
    --color4: #287692;
    --color5: #372a40;
}
#sponsors img, #organization img {
    max-height: 90px;
}
ul {
    list-style: disc;
    margin-left: 2em;
}
li {
    margin-top: 0.5em;
}
.horas {
    width: 115px;
}
/* .mesa{
    color: var(--color1);
    font-weight: bold;
    border-bottom: 5px solid var(--color1);
    width: 80%; 
    margin-bottom: 1em;
} */
 .mesa {
  position: relative;
  display: inline-block; /* clave para que el ancho sea solo el del texto */
  color: var(--color1);
  margin: 1.5em 0 1em 0;
  font-weight: bold;
  font-size: 1.5rem;
 }
.mesa::after {
  content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 80px;
    height: 5px;
    background: var(--color1);
}

@media screen and (min-width: 769px) {
    .modal-content, .modal-card {
        width: 60%;
    }
}