:root{
    --color1: #C93E1A;/* Teja */
    --color2: #FF915E;/* Melocotón */
    --color3: #569700; /* verde */
    --color4: #C93E1A;/* Tabs */
    --color5: #005690; /* Azul fondo */
    --color6: #F05A2A;/* Naranja */    
    --color7: #2f404d; 
}
.background-color6{background-color: var(--color6);}
.text-color6{color: var(--color6);}
.background-color7{background-color: var(--color7);}
.text-color7{color: var(--color7);}
/* body {
    background-color: hsl(0, 0%, 96%);
} */
#sponsors img, #organization img {
    max-height: 80px;
}
ul {
    list-style: disc;
    margin-left: 1em;
}
li {
    margin-top: 0.5em;
}
.logo {
    max-height: 120px;
}
/* #committees img {
    max-width: 90px; 
} */
.oculto {
    display: none !important;
  }
#programme tr {
    background-color: whitesmoke ;
}
.column-image {
    aspect-ratio: 4/3;
    padding: 0;
}
.commitee {
    margin-top: 1rem !important;
}
.hotel {
    color: var(--color5);
    font-size: 1.2em;
}

@media screen and (min-width: 769px) {    
    #programme table{
        width: 60%;
        margin: 0 auto;
    }
    .column-image {
        /* height: 486px !important; */
    }
}